body {
    background-image: url(https://wallpapercave.com/wp/wp12389568.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8); 
}

div{
    z-index: 2;
}

p{
    font-size: large;
    font-weight: bold;
}

img{
    border: rgba(255, 0, 0, .5) 5px solid;
    border-radius: 5px;
}





